<h1>Log In</h1>
<button class="wide small create">Need to make an account? Click here.</button>
<form class="$form" action="#">
  <p class="$userLoginError error hide"></p>
  <label class="row">
    <span>User name</span>
    <input
      type="text"
      class="$nameInput name-input wide"
      value=""
    >
  </label>
  <label class="row">
    <span>Password</span>
    <input
      type="password"
      class="$passwordInput wide"
      value=""
    >
  </label>
  <button class="wide log-in">Log in</button>
</form>
