// Colors
$aenima-background-color: #353535
$aenima-range-slide-color: #fff
$aenima-scrollbar-color: #d0d0d0
$aenima-internal-label-color: #fefefe
$aenima-external-label-color: #ddd
$aenima-icon-color: #aaa
$aenima-unit-label-color: #aaa
$aenima-frame-background-color: #1a1a1a
$aenima-border-color: #454545
$aenima-button-background: #222
$aenima-button-border-color: #888
$aenima-input-color: #ddd
$aenima-input-background-color: #555
$aenima-invalid-input-background: #ff8
$aenima-invalid-input-color: #f00
$aenima-link-color: #fff
$aenima-modal-text-color: #666
$aenima-modal-text-standout-color: #333
$aenima-modal-link-color: #0052ff
$aenima-modal-link-color-hover: #001fff
$aenima-modal-gradient-top-color: #fff
$aenima-modal-gradient-bottom-color: #e5e5e5

// Layout
$aenima-tab-padding: 8px
$aenima-tab-border-width: 1px
$aenima-border-radius: 2px
$aenima-input-padding: 4px
$aenima-input-spacing: 1em
$aenima-input-mid-width: 14em
$aenima-input-full-width: calc(100% - (#{$aenima-input-padding * 2}))
$aenima-hidden-label-animated-nudge-offset: 0.3em
$aenima-slide-thumb-size: 1em
$aenima-input-margin-left: .7em
$aenima-help-modal-margin: 3em
$aenima-help-modal-border-radius: .5em
$aenima-modal-font-size: 1.1em
$aenima-modal-line-height: 1.4em
$aenima-modal-list-line-height: 1.8em

// Transitions
$aenima-label-hide-show-duration: 0.3s
$aenima-load-fade-in-duration: 0.75s
$aenima-fadable-duration: 0.2s
