<label class="row">
  <span>Custom easing curves</span>
  <select
    class="$curveSelector curve-selector"
    title="Easing curve to modify"
  ></select>
  <button class="glyphicon glyphicon-plus add-curve" title="Add a new custom easing curve"></button>
</label>
<div class="$bezierizer"></div>
{{#enablePathToggle}}
<label class="row checkbox-wrapper" data-label-text="(Only affects preview)">
  <input class="$showPath show-path" type="checkbox" {{#showPath}}checked{{/showPath}}>
  <span>Show path</span>
</label>
{{/enablePathToggle}}
{{#enableCenterToggle}}
<label class="row checkbox-wrapper">
  <input class="$centerToPath center-to-path" type="checkbox" {{#centerToPath}}checked{{/centerToPath}}>
  <span>Center to path</span>
</label>
{{/enableCenterToggle}}
{{#enableOnionSkinToggle}}
<label class="row checkbox-wrapper" data-label-text="(Only affects preview)">
  <input class="$showOnionSkin show-onion-skin" type="checkbox" {{#showOnionSkin}}checked{{/showOnionSkin}}>
  <span>Show onion skin</span>
</label>
{{/enableOnionSkinToggle}}
